<script setup lang="ts">
import { onMounted } from "vue";
import LoginView from "./views/LoginView.vue";
import MainView from "./views/MainView.vue";
import { useLoginStore } from "@/stores/login";
const loginstore = useLoginStore();
onMounted(() => {
  loginstore.loadData();
});
</script>

<template>
  <v-btn color="success" @click="loginstore.loadData">
    Load from Local Storage</v-btn
  >
  <LoginView v-if="!loginstore.isLogin" />
  <MainView
    v-if="loginstore.isLogin"
    @logout="loginstore.logout"
    :loginName="loginstore.loginName"
  />
</template>

<style scoped></style>
